<div class="container">
  <div class="row">
    <table>
  <thead>
    <tr>
      <td>title</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <% if book.name.present?%>
    <tr>
      <td><%= book.name %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

  </div>
</div>
